<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, user-scalable=no,
			initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<link rel="stylesheet" href="css/app.css" />
		<title>Beacon Finder</title>
		<script>
		if (window.hyper) { console.log = hyper.log; }
		window.onerror = function(msg, url, line)
		{
			console.log(msg + ": " + url + ":" + line);
		};
		</script>
	</head>
	<body ng-app="Beacon" ng-controller="BeaconCtrl">

		<header></header>

		<main>

			<div class="action-items">
				<a ng-click="scanBeacons()">Scan Beacons</a>
				<a ng-click="stopScanning()">Stop scan</a>
			</div>

			<div class="beacon-list">
				<div ng-repeat="item in beaconList" ng-class="beaconColor({{item.color}})">
					<div>
						<label>Major</label>
						<span>{{item.major}}</span>
					</div>
					<div>
						<label>Minor</label>
						<span>{{item.minor}}</span>
					</div>
					<div>
						<label>RSSI</label>
						<span>{{item.rssi}}</span>
					</div>
					<div>
						<label>Measured power</label>
						<span>{{item.measuredPower}}</span>
					</div>
					<div>
						<label>Mac Address</label>
						<span>{{item.macAddress}}</span>
					</div>
				</div>
			</div>
		</main>

		<script src="cordova.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/index.js"></script>
		<script src="js/configuration.js"></script>
	</body>
</html>